name: Compile and Release LaTeX PDF

on:
  push:
    branches: [ main ]
    tags:
      - '*'

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: lezioni.tex

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: lezioni-pdf
          path: lezioni.pdf

      - name: Upload compiled PDF to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: lezioni.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
